{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/" style="margin-left: 1%">Wishes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <ul class="navbar-nav mr-auto">

        {% if request.resolver_match.view_name == "createAcc" %}
            <li class="nav-item active">
                <a class="nav-link" href="/login/">Login<span class="sr-only"></span></a>
            </li>
        {% elif request.resolver_match.view_name == "login" %}
            <li class="nav-item active">
                <a class="nav-link" href="/createAccount/">Create Account<span class="sr-only"></span></a>
            </li>

        {% endif %}

        {% if not request.user.is_anonymous%}
            <li  class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-expanded="false">
                    {{ user }}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                    <a class="dropdown-item" href="/editAccount">Edit account</a>
                    <a class="dropdown-item" href="/additem">Add item</a>
                    <div class="dropdown-divider"></div>
                    <form action="/logout/" method="post" style="text-align: center" class="dropdown-item">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link" style="color: #C75450" ><b>logout</b></button>
                    </form>
                </div>

            </li>
        {% endif %}
    </ul>

</nav>