
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Add Item</title>
		<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>


		<div id = "buttonContainer" class = "card p-5">
			<h2 class = "text-center">Add an Item to List</h2>
			<label for="itemNameInput" class="form-label">Item Name</label>
			<input id = "itemNameInput" type = "text">
			<br>
			<label for="itemUrlInput" class="form-label">Item URL</label>
			<input id = "itemUrlInput" type = "text">
			<br>
			<label for="itemImageUrlInput" class="form-label">Item Image URL</label>
			<input id = "itemImageUrlInput" type = "text">
			<br>
			<label for="itemDescInput" class="form-label">Item Description</label>
			<input id = "itemDescInput" type = "text">
			<br>
			<label for="itemPriorityInput" class="form-label">Item Priority</label>
			<input id = "itemPriorityInput" type = "text">
			<button id = "createButton" class = "btn btn-primary m-5"> Add item </button>
		</div>
    <script src="script.js"></script>
  </body>
</html>