{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Create Account</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="{% static 'wishList/style.css' %}" rel="stylesheet" type="text/css" >
  </head>
  <body>


		<div id = "formContainer" class = "card p-5">
			<h2 class = "text-center">Create an Account</h2>
			<label for="usernameInput" class="form-label">Username</label>
			<input id = "usernameInput" type = "text">
			<br>
			<label for="passwordInput" class="form-label">Password</label>
			<input id = "passwordInput" type = "password">
			<button id = "createButton" class = "btn btn-primary m-4"> Create Account! </button>
		</div>
    <!-- <script src="script.js"></script> -->
  </body>
</html>