{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    {% include 'partials/_bootstrap.html' %}
    <!-- CSS -->
    <link href="{% static 'css/createAcc.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/createAcc.js' %}"></script>
</head>
<body>
{% include 'partials/_navBar.html' %}

<div id="signUp">

    <div id="signUpBan">Sign Up</div>
    <hr>
    <div id="signUpInfo">
        <form action="/" method="post" id="credentials" onsubmit="return matchPass()" >
            {% csrf_token %}
         <label for="username">Username</label><br><label>
            <input type="text" name="username" form="credentials" required="required">
        </label><br><br>
        <label for="password">Password</label><br><label>
            <input type="password" name="password" form="credentials" required="required" minlength="8">
        </label><br><br>
        <label for="confirmPass">Confirm password</label><br><input type="password" id="confirmPass" required="required" onchange="matchPass()"> <br><br>
        <button type="submit" class="btn btn-outline-primary" name="signUpBtn" form="credentials" >sign up</button>
        </form>
        <div id="valMsg"></div>
    </div>
</div>



</body>
</html>