{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% include 'partials/_bootstrap.html' %}
    <!-- CSS -->
    <link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/createAcc.js' %}"></script>
</head>
<body>
{% include 'partials/_navBar.html' %}

<div class="card">

    <div class="cardBan">Login</div>
    <hr>
    <div class="cardInfo">
        <form action="/" method="post" id="credentials" >
            {% csrf_token %}

            <label for="username">Username</label><br><label>
                <input type="text" name="username" form="credentials" required="required">
            </label><br><br>

            <label for="password">Password</label><br><label>
                <input type="password" name="password" form="credentials" required="required" >
            </label><br><br>

            <button type="submit" class="btn btn-outline-primary" name="signUpBtn" form="credentials" >login</button>

        </form>
        <div id="valMsg">
            {% if request.session.loggedin == 0 %}
                <br><div class='alert alert-warning' role='alert'>wrong username/password</div>
            {% endif %}
        </div>
    </div>
</div>



</body>
</html>