{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% include 'partials/_bootstrap.html' %}
    <!-- CSS -->
    <link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js" integrity="sha512-SdWDXwOhhVS/wWMRlwz3wZu3O5e4lm2/vKK3oD0E5slvGFg/swCYyZmts7+6si8WeJYIUsTrT3KZWWCknSopjg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</head>
<body onload="login()">
{% include 'partials/_navBar.html' %}
<div class="card">

    <div class="cardBan">Login</div>
    <hr>
    <div class="cardInfo">
        <form action="/api/login/" id="credentials">
            {% csrf_token %}

            <label for="username">Username</label><br><label>
                <input type="text" name="username" form="credentials" required="required" onchange="resetVal()">
            </label><br><br>

            <label for="password">Password</label><br><label>
                <input type="password" name="password" form="credentials" required="required" onchange="resetVal()">
            </label><br><br>

            <button type="submit" class="btn btn-outline-primary" form="credentials" >login</button>

        </form>
        <div id="valMsg">
            {% if welcome %}
                <br>
                <div class="alert alert-success" role="alert" style="font-size: small">
                    Account created successfully!
                </div>
            {% endif %}
        </div>
    </div>
</div>



</body>
</html>