{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit item</title>
    {% include 'partials/_bootstrap.html' %}
    <!-- CSS -->
    <link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/createAcc.js' %}"></script>
</head>
<body>
    {% include 'partials/_navBar.html' %}
    <div class="card">

        <div class="cardBan">Update item</div>
        <hr>
        <div class="cardInfo">
            <label for="itemNameInput" class="form-label">Update Item Name</label><br>
            <input id = "itemNameInput" type = "text">
						<div id="itemNameInput" class="form-text text-center">
							Leave field empty to keep old item name
						</div>
            <br> <br>
            <label for="urlInput" class="form-label">New Url</label> <br>
            <input id = "urlInput" type = "text">
						<div id="urlInput" class="form-text text-center">
							Leave field empty to keep old url
						</div>
						<br> <br>
            <label for="urlImageInput" class="form-label">New Image Url</label> <br>
            <input id = "urlImageInput" type = "text">
						<div id="urlImageInput" class="form-text text-center">
							Leave field empty to keep old image url
						</div>
            <br><br>
						<label for="itemDesc" class="form-label">New item description</label> <br>
            <input id = "itemDesc" type = "text">
						<div id="itemDesc" class="form-text text-center">
							Leave field empty to keep old image description
						</div>
            <br><br>
						
            <button id = "updateButton" class = "btn btn-primary m-3"> Update item </button>
						<br>
        </div>
    </div>
</body>
</html>