{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit item</title>
    {% include 'partials/_bootstrap.html' %}
    <!-- CSS -->
    <link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/updateitem.js' %}"></script>
</head>
<body onload="prefill({{ index }})">
    {% include 'partials/_navBar.html' %}
    <div class="card">

        <div class="cardBan">Update item</div>
        <hr>
        <div class="cardInfo">

            <form id="edited" action='/api/item/{{ index }}'>
                {% csrf_token %}
                <label for="itemNameInput" class="form-label">Update Item Name</label><br>
                <input name="name" id = "itemNameInput" type = "text" form="edited">

                <br> <br>

                <label for="itemDesc" class="form-label">New item description</label> <br>
                <input name = "description" id = "itemDesc" type = "text" form="edited">

                <br><br>

                <label for="urlInput" class="form-label">Url</label> <br>
                <input name = "link_url" id = "urlInput" type = "text" form="edited">

                            <br> <br>
                <label for="urlImageInput" class="form-label">New Image Url</label> <br>
                <input name = "image_url" id = "urlImageInput" type = "text" form="edited"><br><br>

                <label for="priority" class="form-label">Item Priority:</label>
                <select name="priority" id="priority" form="edited">
                      <option value=1>1</option>
                      <option value=2>2</option>
                      <option value=3>3</option>
                      <option value=4>4</option>
                      <option value=5>5</option>
                    </select>
                <br><br>
                <button type="submit" onclick="editList({{ index }})" id = "updateButton" class = "btn btn-primary m-3"  form="edited"> Update item </button>
                <button type="submit" onclick="remove()" form="edited" id="removeBtn" class="btn btn-danger">Delete</button><br>
            </form>
        <div id="msg">

        </div>
    </div>
</body>
</html>